:root {
    --main-ligh-color: #9FB0BF;
    --main-dark-color: #424A59;
    --frame-color: #A6270A;
    --letter-color: #F2F2F2;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--letter-color);
    border: 1vh solid var(--frame-color);
}

#header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--frame-color);
}

#title {
    font-size: 5vh;
    font-weight: 900;
}

#name-tag {
    margin-top: 2vh;
    margin-left: 5px;
    font-size: 2vh;
    font-weight: 500;
}

.button-container {
    margin-left: auto;
}

.button {
    padding: 5px 10px;
    font-size: 20px;
    border: 2px solid var(--main-ligh-color);
    border-radius: 10px;
    background-color: var(--main-dark-color);
    color: var(--letter-color);
}

.button:hover {
    cursor: pointer;
    background-color: var(--main-ligh-color);
    border-color: var(--main-dark-color);
    transition: 0.5s;
}

#container {
    display: grid;
    grid-auto-rows: 1fr;
    height: 88vh;
    width: 100%;
}

.items {
    text-align: center;
}